* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #212121;
}

body {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar {
  height: 100%;
  width: 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 47px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 360px;
}

nav a {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  text-decoration: none;
  font-family: 'Avenir Next';
  font-weight: 700;
  font-size: 13px;
}

nav a:nth-child(1) {
  margin-bottom: -15px;
}

nav a:nth-child(5) {
  margin-top: -10px;
}

.hamburger {
  cursor: pointer;
}

.indicator {
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background-color: #0a7899;
}

.image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-image: url(/img/portrait.jpg);
  background-size: cover;
  background-position: center;
}

.article {
  width: 767px;
  overflow-y: scroll;
}

.search {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 47px;
}

.headline-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 220px;
}

h3 {
  font-family: 'Avenir Next';
  font-size: 13px;
  font-weight: 700;
  color: #4496CD;
  letter-spacing: 1.5px;
}

h1 {
  font-family: 'Playfair Display';
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 5.5px;
  text-align: center;
  line-height: 60px;
  width: 600px;
}

h2 {
  font-family: 'Playfair Display';
  font-size: 17px;
  letter-spacing: 1px;
  font-weight: normal;
}

.text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 76px;
  margin-top: 50px;
}

p {
  font-family: 'Playfair Display';
  font-size: 15px;
  line-height: 35px;
  margin-bottom: 25px;
}

p:first-child:first-letter {
  float: left;
  font-size: 65px;
  line-height: 60px;
  padding: 5px 12px 0 0;
}

.mobile-header {
  display: none;
}
/*# sourceMappingURL=style.css.map */